<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
<strong>Drivekraft Listners report !!</strong>
<br>
<br>
<table border="2px black solid">
  <thead>
    <tr>
        <th>Name</th>
        <th>Hours active yesterday</th>
        <th>Total Request Recieved</th>
        <th>Total Session</th>
        <th>Missed Requests</th>




    </tr>
  </thead>
  <tbody border="2px black solid">
  {% for value in data %}
   <tr>

       <td> {{ value[0] }}</td>
       <td> {{ value[2] }}</td>
       <td> {{ value[4]-50 }} </td>
       <td> {{ value[1]-50 }} </td>
       <td> {{ value[5] }}</td>

   </tr>
  {% endfor %}
  </tbody>
</table>